<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="group">
    <%= f.label :username, class: "label" %>
    <%= f.text_field :username, autocomplete: "off", class: "input" %>
    <span id="userNameMsg"></span>
  </div>
  <div class="group">
    <%= f.label :email, class:"label" %>
    <%= f.email_field :email, autofocus: true,  autocomplete: "off", class: "input" %>
    <span id="emailMsg"></span>
  </div>
  <div class="group">
    <%= f.label :mobile, class: "label" %>
    <%= f.text_field :mobile, class: "input", autocomplete: "off"  %>
    <span id="mobileMsg"></span>
  </div>
  <div class="group">
    <%= f.label :password, class: "label" %>
    <%= f.password_field :password, autocomplete: "off", class: "input" %>
    <span id="passwordMsg"></span>
  </div>
  <div class="group">
    <label for="pass" class="label">Repeat Password</label>
    <input id="pass" type="password" class="input" data-type="password">
  </div>
  <div class="group">
    <input type="submit" class="button" value="Sign Up">
  </div>
<%end%>

    <!-- <%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%#= devise_error_messages! %>
      <div class="col-md-3">
      <div class="form-group">
        <%#= f.label :first_name %><br />
        <%#= f.text_field :first_name, autofocus: true, class: "form-control" %>
        <span id="firstNameMsg"></span>
      </div>
      <div class="form-group">
        <%#= f.label :last_name %><br />
        <%#= f.text_field :last_name, class: "form-control"%>
        <span id="lastNameMsg"></span>
      </div>

      <div class="form-group">
        <%#= f.label :username %><br />
        <%#= f.text_field :username, class: "form-control" %>
        <span id="userNameMsg"></span>
      </div>

      <div class="form-group">
        <%#= f.label :mobile %><br />
        <%#= f.text_field :mobile, class: "form-control" %>
        <span id="mobileMsg"></span>
      </div>  
    </div>
    <div class ="col-md-3">
      <div class="form-group">
        <%#= f.label :email %><br />
        <%#= f.email_field :email, autofocus: true, class: "form-control" %>
        <span id="emailMsg"></span>
      </div>

      <div class="form-group">
        <%#= f.label :password %>
        <%# if @minimum_password_length %>
        <em>(<%#= @minimum_password_length %> characters minimum)</em>
        <%# end %><br />
        <%#= f.password_field :password, autocomplete: "off", class: "form-control" %>
        <span id="passwordMsg"></span>
      </div>

      <div class="form-group">
        <%#= f.label :password_confirmation %><br />
        <%#= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        <span id="passwordConfirmationMsg"></span>
      </div>  
   
          <%##= render "devise/shared/links" %>
          <div class="actions">
        <%#= f.submit "Sign up", class: "btn btn-primary" %>
      </div>
    <%# end %>
     </div>
 -->

<!-- <script>
  
  var userNameHandle = document.getElementById('user_username');
  var emailHandle = document.getElementById('user_email');
  var passwordHandle = document.getElementById('user_password');
  var passwordConfirmationHandle = document.getElementById('user_password_confirmation');
  var firstNamehandle = document.getElementById('user_first_name');
  var lastNamehandle = document.getElementById('user_last_name');
  var mobileHandle = document.getElementById('user_mobile');
  var registerFormHandle = document.getElementById('new_user'); 

  var userNameMsgHandle = document.getElementById('userNameMsg');
  var emailMsgHandle = document.getElementById('emailMsg');
  var passwordMsgHandle = document.getElementById('passwordMsg');
  var passwordConfirmationMsgHandle = document.getElementById('passwordConfirmationMsg');
  var firstNameMsgHandle = document.getElementById('firstNameMsg');
  var lastNameMsgHandle = document.getElementById('lastNameMsg');
  var mobileMsgHandle = document.getElementById('mobileMsg');

  var userNameFormatter = /^[a-zA-Z ]*$/;
  var emailFormatter = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
  var passwordFormatter =  /^[a-zA-Z0-9!@#$%^&*]{6,16}$/;
  var nameFormatter = /^[a-zA-Z]*$/;
  var lastNameFormatter = /^[a-zA-Z ]*$/;
  var mobileFormatter = /^\d{10}$/;

  var errors = {
    name: false,
    email: false,
    password: false,
    passwordConfirmation: false,
    firstName: false,
    lastName: false,
    mobile: false
  }

  //userNameHandle.addEventListener('blur',function(){
  function validateName(){
    if(userNameHandle.value ==""){
        userNameMsgHandle.innerHTML = "can't be blank";
        errors.name = false;
    }else if(!userNameFormatter.test(userNameHandle.value)){
        userNameMsgHandle.innerHTML = "Should contain only alphabets";
        errors.name = false;
    }else{
        userNameMsgHandle.innerHTML = "";
        errors.name = true;
    }
  }
  //},false);

  //emailHandle.addEventListener('blur',function(){
  function validateEmail(){
    if(emailHandle.value == ""){
        emailMsgHandle.innerHTML = "can't be blank";
        errors.email = false;
    }else if(!emailFormatter.test(emailHandle.value)){
        emailMsgHandle.innerHTML = "enter valid email";
        errors.email = false;
    }else{
        emailMsgHandle.innerHTML = "";
        errors.email = true;
    }
  }
  //},false);

  //passwordHandle.addEventListener('blur',function(){
  function validatePassword(){
    if(passwordHandle.value == ""){
        passwordMsgHandle.innerHTML = "can't be blank";
        errors.password = false;
    }else if(passwordHandle.value.length < 6){
        passwordMsgHandle.innerHTML = "password Should be more than 6 character";
        errors.password = false;
    }else if(!passwordFormatter.test(passwordHandle.value)){
        passwordMsgHandle.innerHTML = "password is invaild";
        errors.password = false;
    }else{
        passwordMsgHandle.innerHTML = "";
        errors.password = true;
    }
  }
  //},false);

  //passwordConfirmationHandle.addEventListener('blur',function(){
  function validatePasswordConfirmation(){
    if(passwordConfirmationHandle.value == ""){
        passwordConfirmationMsgHandle.innerHTML = "can't be blank";
        errors.passwordConfirmation = false;
    }else if(!passwordFormatter.test(passwordConfirmationHandle.value)){
        passwordConfirmationMsgHandle.innerHTML = "password is invalid";
        errors.passwordConfirmation = false;
    }else if(passwordHandle.value !== passwordConfirmationHandle.value ){
        passwordConfirmationMsgHandle.innerHTML = "password is not matched";
        errors.passwordConfirmation = false;
    }else{
        passwordConfirmationMsgHandle.innerHTML = "";
        errors.passwordConfirmation = true;
    }
  }
  //},false);

  //firstNamehandle.addEventListener('blur',function(){
  function validateFirstName(){
    if(firstNamehandle.value == ""){
        firstNameMsgHandle.innerHTML = "can't be blank";
        errors.firstName = false;
    }else if(!nameFormatter.test(firstNamehandle.value)){
        firstNameMsgHandle.innerHTML = "Should contain only alphabets";
        errors.firstName = false;
    }else{
        firstNameFormatter.innerHTML = "";
        errors.firstName = true;
    }
  }
  //},false);

  //lastNamehandle.addEventListener('blur',function(){
  function validateLastName(){
    if(lastNamehandle.value == ""){
        lastNameMsgHandle.innerHTML = "can't be blank";
        errors.lastName = false;
    }else if(!nameFormatter.test(lastNamehandle.value)){
        lastNameMsgHandle.innerHTML = "Should contain only alphabets";
        errors.lastName = false;
    }else{
        lastNameFormatter.innerHTML = "";
        errors.lastName = true;
    }
  }
  //},false);

  //mobileHandle.addEventListener('blur',function(){
  function validateMobile(){
    if(mobileHandle.value == ""){
        mobileMsgHandle.innerHTML = "can't be blank";
        errors.mobile = false;
    }else if(!mobileFormatter.test(mobileHandle.value)){
        mobileMsgHandle.innerHTML = "should contain only numbers";
        errors.mobile = false;
    }else{
        mobileMsgHandle.innerHTML = "";
        errors.mobile = true;
    }
  }
  //},false);
  
  registerFormHandle.addEventListener('submit',function(e){
    validateName();
    validateEmail();
    validatePassword();
    validatePasswordConfirmation();
    validateFirstName();
    validateLastName();
    validateMobile();

    if(Object.values(errors).includes(false)){
      e.preventDefault();
    }
  },false);

</script> -->
<%#= render "devise/shared/links" %>
