<div class = "container">
<div class = "col-md-4">
  <%= form_for(@amenity) do |f| %>
  <% if @amenity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@amenity.errors.count, "error") %> prohibited this amenity from being saved:</h2>

      <ul>
      <% @amenity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" class = "form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name , class: "form-control"%>
    <span id = "nameError"></span>
  </div>
  <div class="field" class= "form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description ,class: "form-control"%>
    <span id = "desError"></span>
  </div><br/>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary"%>
  </div>
<% end %>
</div>
</div>
<script >
  var nameHanle = document.getElementById('amenity_name');
  var nameMsg = document.getElementById('nameError');
  var desHandle = document.getElementById('amenity_description');
  var desMsg = document.getElementById('desError');

  var errors = {
    name: false,
    description: false
  }
  
  nameFormat = /^[a-zA-z]*$/;

  var formHandle =document.getElementById('new_amenity');

  function validatename(){
    if(nameHanle.value == ""){
      nameMsg.innerHTML = "Name con't be blank";
      errors.name = false;
    }else{
      nameMsg.innerHTML = "";
      errors.name = true;
    }
  }

  function validatedes(){
    if(desHandle.value == ""){
      desMsg.innerHTML = "Description con't be blank";
      errors.description = false;
    }else if(desHandle.value.length < 20){
      desMsg.innerHTML = "Atleast it Should contain 20 Characters";
      errors.description = false;
    }else{
      desMsg.innerHTML = "";
      errors.description = true;
    }
  }
  formHandle.addEventListener('submit',function(e){
    
    validatename();   
    validatedes();
    if(Object.values(errors).includes(false)){
      e.preventDefault();
    }
  },false);
</script>