<div class = "container">
<div class="page-header">
        <h2><i class="glyphicon glyphicon-th-list"></i> Confirm Rooms</h2>
    </div>
<% if @b.empty? %>
	<%# binding.pry%>
	<p>No room to confirm</p>

<% else %>
	<table class = "table">
		<thead>
			<tr>
				<th>Room Name</th>
				<th>User Name</th>
				<th>Start_Date</th>
				<th>End_date</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
		<% @b.each do |book| %>
					
			<%if book.room.user_id == current_user.id %>
				<tr colspan = '2'>
					<td><%= book.room.name%></td>
					<td><%= book.user.username%></td>
					<td><%= book.start_date %></td> 
					<td> <%= book.end_date %></td>
					<%= form_for book do |f| %>
						<%= f.hidden_field :is_confirmed, value: true %>
						<td><%= f.submit "CONFIRM" %>
					<% end %>
				</td></tr>
			<% end %>
		<% end %>
		</tbody>
	</table>
<% end %>
</div>