
<a href="/rooms" style="float: left;";><img src="/61972.png" width=30px;height=30px;></a>
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<br>
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>

<!-- <div class="field">
    <%#= f.label :email %><br />
    <%#= f.email_field :email, autofocus: true %>
  </div>
   -->

  <div class="field">
    <%= f.label :password %>(<a href='#' id="show">Show</a>)<br />
    <%= f.password_field :password, autocomplete: "off" %>
    <span id = "passwordError"></span>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>

<% end %>
</body>
</html>

<script>
  var passwordHandle = document.getElementById('user_password');
  
  var passwordErrorHandle = document.querySelector('#passwordEror')
  
  var showHandle = document.querySelector('#show');
  var showToggle = true;
  showHandle.addEventListener('click', function(e){
    if(showToggle){
      passwordHandle.setAttribute('type','text');
      showHandle.innerHTML = 'Hide';
      showToggle = false;
    }else{
      passwordHandle.setAttribute('type','password');
      showHandle.innerHTML = 'show';
      showToggle = true;
    }
    e.preventDefault();
  },false);
</script>

<= render "devise/shared/links" %>


