<div class="row color">
    <% @rooms.each do |room| %>
      <% if room.is_authorized == true %>
          <div class="col-md-3" class="well" style="background-color: #ADD8E6">
          <p class="text-justify" color= "black">
              
              <h4><font face="Chancery Cursive"><%= room.name.capitalize%>, <%= room.city.name %></font></br></h4>
              <%= link_to (image_tag room.images ,:size => '250x150'), room, class: "img-thumbnail" %><br/><br/>

              <label>Price : </label>
                <i class="fa fa-inr" style="color: #f44e42;">
                <%# if room.special_prices.present? %>
                    <!-- <strike><%#= room.price rescue 'nil' %></strike> -->
                <%# else %>
                    <%= room.price %>
                <%# end %>
                </i>
                  <%# room.special_prices.each do |special_price|%>
                        <%# dates = (special_price.start_date..special_price.end_date).to_a%>
                      <%#today_date = Date.today%>
                      <%# if dates.include?today_date%>
                          <!-- - <i class="fa fa-inr"  style="color: #f44e42;"> <%#= special_price.price%></i> -->
                      <%# end %>
                  <%# end %>
              </i>
              <label style="float : right">Rating : <%total_rating = 0%>
            <% if !room.reviews.present?%>
              <% total_rating = "0.0"%>
            <% end %>
            <% room.reviews.each do |review| %>
                  <%rating =  (((review.food_rating + review.cleanliness_rating + review.safety_rating + review.facility_rating + review.locality_rating)/5.0).to_f)/(room.reviews.length) %>
                <% total_rating += rating.round(1) %>
              <% end %>
              <%= total_rating %>
              </label>
            <%# end %>
          <br/>
          <center>
          <%= link_to "View Deal", room_path(room.slug), class: "btn btn-warning"%>
          </center>
          <hr>                           
        </div>
      <% end %>
    <% end %>  
</div>