<div class="container">
    <%= form_for(@room) do |f| %>
      <% if @room.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

          <ul>
          <% @room.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <%= f.label :name %>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <span class="glyphicon glyphicon-asterisk" style="color: red;" data-toggle="tooltip" title="Name Con't be blank"></span>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <div class="form-group">
            <%= f.text_field :name, class: "form-control input-sm" , placeholder: "Enter Name" %>
            <span id="nameMsg"></span>
          </div>
        </div>
      </div>  
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <%= f.label :price %>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <span class="glyphicon glyphicon-asterisk" style="color: red;" data-toggle="tooltip" title="Price Con't be blank"></span>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <%= f.text_field :price, class: "form-control input-sm" , placeholder: "Enter Price"%>
          <span id="priceMsg"></span>          
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <label>
            State 
          </label>  
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <span class="glyphicon glyphicon-asterisk" style="color: red;" data-toggle="tooltip" title="State Con't be blank"></span>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <%= f.collection_select :state_id, State.all, :id , :name, {}, class: "form-control input-sm"%>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <%= f.label :city %>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <span class="glyphicon glyphicon-asterisk" style="color: red;" data-toggle="tooltip" title="City Con't be blank"></span>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <%= f.collection_select :city_id, [], :id , :name, {}, class: "form-control input-sm"%>
            <!-- <select name="city_id" id="city" class="form-control input-sm">
              <option value="#">City</option>
            </select> -->
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <label>Room Type</label>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <span class="glyphicon glyphicon-asterisk" style="color: red;" data-toggle="tooltip" title="Room Type Con't be blank"></span>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
           <%= f.select :house_type, [['House Type', '#'],['Single Room', 'single_room'],['1 BHK','1 bhk'],['1 BHK', '1 bhk'],['3 BHK',"3 bhk"],['4 BHK','4 bhk']], {}, class: "form-control input-sm" %>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <label>
            House Plan
          </label>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <span class="glyphicon glyphicon-asterisk" style="color: red;" data-toggle="tooltip" title="House plan Con't be blank"></span>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
           <%= f.select :house_plan, [['House Plan', '#'],['Rent', 'rent'],['Lease','lease'],['Sale', 'sale']], {}, class: "form-control input-sm" %>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <%= f.label :description %>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <span class="glyphicon glyphicon-asterisk" style="color: red;" data-toggle="tooltip" title="Description Con't be blank"></span>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <%= f.text_area :description, class: "form-control input-sm" , placeholder: "Enter Description"%>
          <span id="priceMsg"></span>          
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <%= f.label :rules %>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <span class="glyphicon glyphicon-asterisk" style="color: red;" data-toggle="tooltip" title="Rules Con't be blank"></span>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <%= f.text_area :rules, class: "form-control input-sm" , placeholder: "Enter Rules"%>
          <span id="rulesMsg"></span>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <%= f.label :images %><br>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <span class="glyphicon glyphicon-asterisk" style="color: red;" data-toggle="tooltip" title="Image Con't be blank" ></span>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <%= f.file_field :images , class: "form-control input-sm"%>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <%= f.label :address %><br>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <span class="glyphicon glyphicon-asterisk" style="color: red;" data-toggle="tooltip" title="Address Con't be blank"></span>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <%= f.text_area :address, class: "form-control input-sm", placeholder: "Enter Address" %>
          <span id="addressMsg"></span>          
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <%= f.label :amenities%>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <span class="glyphicon glyphicon-asterisk" style="color: red;" data-toggle="tooltip" title="Aminities Con't be blank"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <div class="checkbox">
            <%= f.collection_check_boxes :amenity_ids, Amenity.all, :id, :name do |course|%>
            <label>
              <%= course.check_box %>
              <%= course.text%>
            </label>
            <%end%>
          </div>          
        </div>

<!--         <%# Amenity.all.each do |a|%>
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="<%#= a.id%>" name="example1">
            <label class="custom-control-label" for="<%#= a.id%>"><%#= a.name%></label>
          </div>
        </div>
        <%# end %> -->
      </div>
      <div class="actions">
        <div class="row">
          <div class="col-xs-offset-5">
            <%= f.submit "Add Room", class: "btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>
    <% end %>
</div>
<script>
  var nameHandle = document.getElementById('room_name');
  var descriptionHandle = document.getElementById('room_description');
  var priceHandle = document.getElementById('room_price');
  var rulesHandle = document.getElementById('room_rules');
  var addressHandle = document.getElementById('room_address');
  var imagesHandle = document.getElementById('room_images');
  var roomFormHandle = document.getElementById('new_room');

  var nameMsgHandle = document.getElementById('nameMsg');
  var descriptionMsgHandle = document.getElementById('descriptionMsg');
  var priceMsgHandle = document.getElementById('priceMsg');
  var rulesMsgHandle = document.getElementById('rulesMsg');
  var addressMsgHandle = document.getElementById('addressMsg');
  var imagesMsgHandle = document.getElementById('imagesMsg');

  var priceFormatter = /^[0-9]*(?:\.\d{1,2})?$/;

  var errors = {
    name: false,
    description: false,
    price: false,
    rules: false,
    address: false,
    images:false
  }

  function validateName(){
    if(nameHandle.value == ""){
      nameMsgHandle.innerHTML = "Can't be blank";
      errors.name = false;
    }else if(nameHandle.value.length < 5){
      nameMsgHandle.innerHTML = "Room name should  be more than 5 characters.";
      errors.name = false;
    }else{
      nameMsgHandle.innerHTML = "";
      errors.name = true;
    }
  }

  function validateDescription(){
    if(descriptionHandle.value == ""){
      descriptionMsgHandle.innerHTML = "Can't be blank";
      errors.description = false;
    }else{
      descriptionMsgHandle.innerHTML = "";
       errors.description = true;
    }
  }

  function validatePrice(){
    if(priceHandle.value == ""){
      priceMsgHandle.innerHTML = "Can't be blank";
      errors.price = false;
    }else if(!priceFormatter.test(priceHandle.value)){
      priceMsgHandle.innerHTML = " Price should contain only number";
      errors.price = false;
    }else{
      priceMsgHandle.innerHTML = "";
      errors.price = true;
    }
  }

  function validateRules(){
    if(rulesHandle.value == ""){
      rulesMsgHandle.innerHTML = "Can't be blank";
      errors.rules = false;
    }else{
      rulesMsgHandle.innerHTML = "";
      errors.rules = true;
    }
  }

  function validateAddress(){
    if(addressHandle.value == ""){
      addressMsgHandle.innerHTML = "Can't be blank";
      errors.address = false;
    }else{
      addressMsgHandle.innerHTML = "";
      errors.address = true;
    }
  }

  function validateimages(){
    if(imagesHandle.value == ""){
      imagesMsgHandle.innerHTML = "Can't be blank";
      errors.images = false;
    }else{
      imagesMsgHandle.innerHTML ="";
      errors.images = true;
    }
  }

<%if action_name != "edit" %>
roomFormHandle.addEventListener('submit',function(e){
  validateName();
  validateDescription();
  validatePrice();
  validateRules();
  validateAddress();
  validateimages();

  if(Object.values(errors).includes(false)){
      e.preventDefault();

  }

},false);
<%end%>
  $(document).ready(function(){
    $('#room_state_id').on('change', function(){
      var state = $('#room_state_id').val()
      $.ajax({
        url: "/get_all_cities?state=" + state,
        method: "GET",
        success: function(data){
          document.getElementById('room_city_id').options.length = 0;
          data.forEach(function(city){
            var option = document.createElement('option'); 
            var optValue = document.createAttribute('value'); 
            optValue.value = city.id  
            option.setAttributeNode(optValue); 
            var txt = document.createTextNode(city.name);  
            option.appendChild(txt);  
            document.getElementById("room_city_id").appendChild(option)
          })
        },
        error: function(data){
          console.log(data)
        }
      })
    })
  })
</script>


<style type="text/css">
select.input-sm, textarea.input-sm, input[type=file] , input[type=text]{
  border: 1px solid #555;
}

.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: -8.5;
    border-radius: 3px;
    margin-left: -60px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 800
  }

.glyphicon-asterisk:before {
    content: "\002a";
    margin-left: -10px;
}
</style>