<div class="container">
  <button type="button" class="btn btn-primary btn-sm" id="myBtn3">Add Price</button>
  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Special Price for Special Day</h4>
        </div>
        <div class="modal-body">

<%= form_for @special_price do |f| %>
  <%= f.hidden_field :room_id, value: @room.id %>
  <p class = "form-group">
    Start Date :<%= f.text_field :start_date ,class: "form-control"%>
    <span id = "startError"></span>
  </p>
  <p class = "form-group">
    End Date :<%= f.text_field :end_date,class: "form-control" %>
    <span id = "endError"></span>
  </p>
  <p class = "form-group">
    Price :<%= f.number_field :price,class: "form-control"%>
    <span id = "priceError"></span>
  </p>
  <%= f.submit "ADD SPECIAL PRICE", class: "btn btn-primary"%>
<% end %>


</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>    
<script>
$(document).ready(function(){
    $("#myBtn3").click(function(){
        $("#myModal3").modal();
    });
});


$(document).ready(function(){
    $('#special_price_start_date').datepicker({
      format: 'yyyy/mm/dd',  
       autohide: true,
      todayHightlight: true
    });
});
$(document).ready(function(){
    $('#special_price_end_date').datepicker({
      format: 'yyyy/mm/dd',  
       autohide: true,
      todayHightlight: true
    });
});

</script>
