
<div class="container">
	<div class="page-header">
        <h2><i class="glyphicon glyphicon-th-list"></i> Authorize Rooms</h2>
    </div>
    
	<% if can? :authorize, Room %>
		<% if @room.empty? %>
			<p>No room to authorize</p>
		<% else %>

			<% @room.each do |room| %>
				<div class = "col-md-8">
					<%=  image_tag(room.images, :size => "460x280", :crop => :fill, :alt => "no image") %><br/>
				</div>	
				<div class = "col-md-4">
					<b>Name : </b><i><%= room.name%></i><br>
					<b >price : </b> <%= room.price %></td><br/>
					<b>Address :</b><%= room.address %><br/>
					<b>City : </b><%= room.city.name %><br>
					<b>Owner : </b><%= room.user.username.capitalize %><br/>
					<b>Contact :</b> <%= room.user.mobile%><br/>
					<%= form_for room do |f| %>
						<%= f.hidden_field :is_authorized, value: true %>
						<%= f.submit "Authorize" %>
					<% end %>
				</div>	
			<% end %>			
		<% end %>
	<% end %>

		
</div>

