<!-- <p>Sort By(price) : <a id="Low">Low to High</a>    <a id="High">High to Low</a> -->

		<%#City.all.each do |city|%>
			<!-- <%#= check_box_tag city.name, city.id %><label for="<%#= city.name %>"><%#=city.name %> -->
		<%#end%>
		<!-- <script src="sweetalert2.all.min.js"></script> -->
<!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->
<!-- <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script> -->

<div class = "col-md-4 img-thumbnail" style="background-color: 	#F0FFF0;">
<ul id="roomlist">	
</ul>
<b id="rooms"></b>
<table class = "table">
	<thead>
		
	</thead>
	<tbody>
	<% @rooms.each do |room| %>
		<% if room.is_authorized == true %>
			<tr class="well" style="background-color: 	#ADD8E6">
				<td><%= link_to image_tag(room.images, :size => "150x100"), room, class: "img-thumbnail" %></td>
				<td>
					<%= room.name.capitalize%>, <%= room.city.name %><br/>
						Price : <i class="fa fa-inr"></i><%=room.price %><br/>
						Rating : <%total_rating = 0%>
						<% if !room.reviews.present?%>
							<% total_rating = "No Rating"%>
						<% end %>
						<% room.reviews.each do |review| %>
				        	<%rating =  (((review.food_rating + review.cleanliness_rating + review.safety_rating + review.facility_rating + review.locality_rating)/5.0).to_f)/(room.reviews.length) %>
  							<% total_rating += rating %>
  						<% end %>
  						<%= total_rating %>
  					<%# end %>
					<br/><%= link_to "View Deal", room_path(room.slug), class: "btn btn-warning" %>
				</td>
			</tr>
		<% end %>
	<% end %>
	</tbody>	
</table>
</div>

<!--  ******************************code for map************************************* -->
<div class ="col-md-8">
<title>Google Maps Multiple Markers</title>
  <script src="http://maps.google.com/maps/api/js?key=AIzaSyCzbuY_r3-Uj_RIBsxfKP0WqluXS8dTo5o"></script>
  <div id="map" style="height: 720px; width: 850px;" class="img-thumbnail">
	</div>
	<script type="text/javascript">
		  var locations = [];
   
  <% @rooms.each do |room|%>
    locations.push([<%= room.latitude %>,<%= room.longitude %>])
  <%end%>

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: new google.maps.LatLng(21.146633, 79.088860),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) { 
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][0], locations[i][1]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }

	</script>

</div>
<%= will_paginate @rooms%>
<!-- </div> -->
<!--  <script>

 
 // *******************************************************************************
	var roomsHandle = document.getElementById('rooms');
	var roominputs = roomsHandle.getElementsByTagName('input');
	var roomListHandle = document.getElementById('roomlist');
	
	function buildProductHtml(rooms){
		
		roomlist.innerHTML = "";
		rooms.forEach(function(room){
			var p = document.createElement('p');
			var a = document.createElement('a');
			var href = document.createAttribute('href');
			var img = document.createElement('img')
			var src = document.createAttribute('src')
			
			console.log(src.value)
			img.setAttributeNode(src);
			href.value = `/rooms${room.id}`;
			a.setAttributeNode(href);
			var text = document.createTextNode(room.name);
			a.appendChild(text);
			p.appendChild(a);
			var br = document.createElement('br');
			p.appendChild(br);
			p.appendChild(img);
			roomListHandle.appendChild(p);
		});
	}
	
	roomsHandle.addEventListener('click', function(){
		var roomselected = [];
		for(var i = 0; i < roominputs.length; i++){
			if(roominputs[i].checked){
				roomselected.push(roominputs[i].value);
			}
		}
		var xhr = new XMLHttpRequest();
		xhr.open('GET', '../rooms/find_by_cities?city_ids=' + roomselected.join(","));
		xhr.onreadystatechange = function(){
			if(xhr.readyState == 4 && xhr.status == 200){
				buildProductHtml(JSON.parse(xhr.responseText));
			}
		}
		xhr.send();
	}, false);

var LowHandle = document.getElementById('Low');
var HighHandle = document.getElementById('High');

LowHandle.addEventListener('click',function(){
		var xhr = new XMLHttpRequest();
		xhr.open('GET','../rooms/by_price_asc?low=');
		xhr.onreadystatechange = function(){
			if(xhr.readyState == 4 && xhr.status == 200 ){
				buildProductHtml(JSON.parse(xhr.responseText));
				console.log(JSON.parse(xhr.responseText))
			}
		}
		xhr.send();
	},false);

	HighHandle.addEventListener('click',function(){
		var xhr = new XMLHttpRequest();
		xhr.open('GET','../rooms/by_price_desc?high=');
		xhr.onreadystatechange = function(){
			if(xhr.readyState == 4 && xhr.status == 200 ){
				buildProductHtml(JSON.parse(xhr.responseText));
			}
		}
		xhr.send();
	},false);
</script> -->

