<div class="container">
  <%if user_signed_in? %>
  <%if (can? :update, @room) %>
    <b ><%= link_to "Edit", edit_room_path(@room) %></b> 
  <%end %>
  <% if can? :destroy, @room %>
    <b style="float:right"><%= link_to "Delete", @room, method: :delete, data: { confirm: 'Are you sure?'}%></b> 
  <% end %></br>    
<% end %>
<div class="row">
  <div class = "col-md-5">
    <%= image_tag(@room.images, :size => "450x300")%>
  </div>
  <div class = "col-md-7">  
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home">Book</a></li>
      <li><a data-toggle="tab" href="#menu1">Special Prices</a></li>
      <li><a data-toggle="tab" href="#menu2">Overview</a></li>
      <li><a data-toggle="tab" href="#menu3">Amenities</a></li>
      <li><a data-toggle="tab" href="#menu4">Rules</a></li>
      <li><a data-toggle="tab" href="#menu5">Address</a></li>
      <li><a data-toggle="tab" href="#menu6">Reviews</a></li>
    </ul>
    <div class="tab-content">  
      <div id="home" class="tab-pane fade in active"><br/>
        <div class="row">
          <div class="col-md-6"> 
            <%= form_for @booking do |f| %>
              <p class = "form-group">
                <strong>Start Date:</strong> <%= f.date_select :start_date, class: "form-control"%>
                <span id = "startdateError"></span>
              </p><br/>
              <p class = "form-group">
                <strong>End Date :</strong> <%= f.date_select :end_date,class: "form-control" %>
                <span id = "enddateError"></span>
              </p><br/>
              <%= f.hidden_field :room_id, value: @room.id %>   
              <% if user_signed_in? && current_user.role.name == "admin" %>
                <%= f.collection_select :user_id, User.all, :id, :username %>
              <% end %>          
              <%= f.submit "BOOK ROOM" , class: "btn btn-primary" %>
            <% end %>
          </div>
          <div class="col-md-6">
            <% if user_signed_in?  %>
              <% if current_user.id == @room.user.id %>
                <%= form_for @special_price do |f| %>
                    <%= f.hidden_field :room_id, value: @room.id %>
                    <p class = "form-group">
                      <strong>Start Date :</strong><%= f.date_select :start_date ,class: "form-control"%>
                      <span id = "startError"></span>
                    </p>
                    <br/>
                    <p class = "form-group">
                      <strong>End Date :</strong><%= f.date_select :end_date,class: "form-control" %>
                      <span id = "endError"></span>
                    </p>
                    <br/>
                    <p class = "form-group">
                      <strong>Price :</strong> <%= f.number_field :price%>
                      <span id = "priceError"></span>
                    </p>
                    <%= f.submit "ADD SPECIAL PRICE", class: "btn btn-primary"%>
                <% end %>
              <% end %>
            <% end %>
          </div> 
        </div>
      </div>
      <div id="menu1" class="tab-pane fade"><br/>
        <% if @room.special_prices.empty? %>
          <p>No Specal prices for this room</p>
        <% else %>
          <table class = "table">
            <tr>
              <th>Start-Date</th>
              <th>End-Date</th>
              <th>New Price</th>
              <th>Old price</th>
            </tr>
            <% @room.special_prices.each do |f| %>
              <tr>
                <td><%= f.start_date %></td>
                <td><%= f.end_date%></td>
                <td><%= f.price %></td>
                <td><%= @room.price%></td>
              </tr>
            <% end %>
          </table>
        <% end %>
        
      </div>
      <div id="menu2" class="tab-pane fade"><br/>
          <h1>Overview : </h1><%= @room.description %>      
      </div>
      <div id="menu3" class="tab-pane fade">
        <h1>Amenities : </h1>
        <ol>
          <% @room.amenities.each do |amenity| %>
            <li><b><%= amenity.name %> : </b>   <%= amenity.description%></li><br>
          <% end %>
        </ol>
      </div>  
      <div id="menu4" class="tab-pane fade">
        <h1>Rules : </h1><%= @room.rules%>        
      </div>
      <div id="menu5" class="tab-pane fade">
        <h1>Address : </h1>
          <b>Owner : </b><%= @room.user.username.capitalize%><br/><br/>
          <b>Contact : </b><%= @room.user.mobile %><br/></br>
          <b>Area : </b> <%= @room.address%></br></br>
          <b>City : </b><%= @room.city.name %><br/>
      </div>
      <div id="menu6" class="tab-pane fade">
      <div class="col-md-10">
        <% room = 0 %>
          <% @room.reviews.each do |review| %>
            <%room = room + (((review.food_rating + review.cleanliness_rating + review.safety_rating + review.facility_rating + review.locality_rating)/5.0).to_f)/(@room.reviews.length) %>
          <% end %>      
        <h4>Rating of Review : <%= room.round(1)%></h4>
          <%if @room.reviews.empty? %>
            <h4>No reviews</h4>
          <% else %>
              <% @room.reviews.each do |review| %>
                    <%= review.user.username%> : <%= review.review %> </br>
              <% end %>
          <% end %>
        </div>
        <br/>
        <div class="col-md-2">
          <%= render 'review'%>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
    <iframe width="1200" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBipgxMczyujD8knh17CWPulk7h2shwOF8&q=<%= @room.latitude %>,<%= @room.longitude %>"></iframe>

<script>

//<!-- Script for Review -->

errors = {
  review: false,
  food_rating: false,
  clean: false,
  safety: false,
  facility: false,
  locality: false
}

  var reviewHandle = document.getElementById('review_review');
  var foodHandle = document.getElementById('food');
  var cleanHandle = document.getElementById('clean');
  var safetyHandle = document.getElementById('safety');
  var facilityHandle = document.getElementById('facility');
  var localityHandle = document.getElementById('locality');

  var submitHandle = document.getElementById('value')

  var formHandle = document.getElementById('new_review') 

  var foodInput = foodHandle.getElementsByTagName('input')  
  var cleanInput = cleanHandle.getElementsByTagName('input');
  var facilityInput = facilityHandle.getElementsByTagName('input');
  var localityInput = localityHandle.getElementsByTagName('input');
  var safetyInput = safetyHandle.getElementsByTagName('input');
  
  var reviewMsgHandle = document.getElementById('reviewError');
  var cleanMsgHandle = document.getElementById('cleanError');
  var safetyMsgHandle = document.getElementById('safetyError');
  var facilityMsgHandle = document.getElementById('facilityError');
  var foodMsgHandle = document.getElementById('foodError');
  var localityMsgHandle = document.getElementById('localityError');

 //  reviewHandle.addEventListener('keyup',function(){
 //    if(reviewHandle.value.length < 15 ){
 //      console.log(reviewHandle.value.length);
 //      submitHandle.disabled = true;    
 //      }
 // },false) 

function validatereview(){
      if(reviewHandle.value == ""){
        reviewMsgHandle.innerHTML = "Can't Be blank";
        errors.review = false;     
      }else if(reviewHandle.value.length < 15) {
        reviewMsgHandle.innerHTML = "Review should contain minimum 15 Characters";
        errors.review = false;
      }else{
        reviewMsgHandle.innerHTML = "";
        errors.review  = true;
      }
}

function validatefood(){   
  var selected = 0;
    for(var i = 0;i < foodInput.length;i++){
      if(foodInput[i].checked){
        selected = foodInput[i].value;
      }
    }
    if(selected == 0){
      foodMsgHandle.innerHTML = "cont be blank";
      errors.food_rating = false
    }else{
      foodMsgHandle.innerHTML = "";
      errors.food_rating = true;
    }

}

function validateclean(){   
  var selected = 0;
    for(var i = 0;i < cleanInput.length;i++){
      if(cleanInput[i].checked){
        selected = cleanInput[i].value;
      }
    }
    if(selected == 0){
      cleanMsgHandle.innerHTML = "cont be blank";
       errors.clean = false
    }else{
    cleanMsgHandle.innerHTML = "";
       errors.clean = true;
    }
}

function validatelocality(){   
  var selected = 0;
    for(var i = 0;i < localityInput.length;i++){
      if(localityInput[i].checked){
        selected = localityInput[i].value;
      }
    }
    if(selected == 0){
      localityMsgHandle.innerHTML = "cont be blank";
       errors.locality = false
    }else{
      localityMsgHandle.innerHTML = "";
       errors.locality = true;
    }
}


function validatefacility(){   
  var selected = 0;
    for(var i = 0;i < facilityInput.length;i++){
      if(facilityInput[i].checked){
        selected = facilityInput[i].value;
      }
    }
    if(selected == 0){
      facilityMsgHandle.innerHTML = "cont be blank";
       errors.facility = false
    }else{
    facilityMsgHandle.innerHTML = "";
       errors.facility = true;
    }
}


function validatesafety(){   
  var selected = 0;
    for(var i = 0;i < safetyInput.length;i++){
      if(safetyInput[i].checked){
        selected = safetyInput[i].value;
      }
    }
    if(selected == 0){
      safetyMsgHandle.innerHTML = "cont be blank";
       errors.safety = false
    }else{
      safetyMsgHandle.innerHTML = "";
       errors.safety = true;
    }
}

formHandle.addEventListener('submit',function(e){
  validatefood();
  validatereview();
  validatelocality();
  validatefacility();
  validatesafety();
  validateclean();

   if(Object.values(errors).includes(false)){
    e.preventDefault();
  }
},false)
</script>
