<!--/ Intro Single star /-->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <div class="title-single-box">
          <h1 class="title-single"><%= @room.name%></h1>
          <span class="color-text-a"><%= City.find(@room.city_id).name%>, <%= State.find(@room.state_id).name%></span>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Intro Single End /-->
<br/>
<!-- Book Room  -->
<div class="container">
  <%= form_for @booking do |f| %>
  <div class="row">
    <div class = "col-md-3">
      <input type="date" class="form-control input-sm" value="" name="booking[start_date]" id="booking_start_date"  autocomplete="off" placeholder="Start Date"/>
      <span id = "startdateError"></span>
    </div>
    <div class = "  col-md-3">
      <input type="date" class="form-control input-sm" value="" name="booking[end_date]" id="booking_end_date"  autocomplete="off" placeholder="End Date"/>
      <span id = "enddateError"></span>
    </div>
    <%= f.hidden_field :room_id, value: @room.id %>   
    <% if user_signed_in? && current_user.role.name == "admin" %>
      <%= f.collection_select :user_id, User.all, :id, :username %>
    <% end %>          
    <div class = "  col-md-4"> 
      <%= f.submit "Book Room" , class: "btn btn-success btn-mdd"%></center> 
    </div>
  </div>
  <% end %>

  <%if user_signed_in? %>
    <%if (can? :update, @room) %>
      <%= link_to "Edit", edit_room_path(@room), class: "btn btn-primary btn-sm"%>
    <%end %>  
    <% if can? :destroy, @room %>
      <%= link_to "Delete", @room, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger  btn-sm"%>
    <% end %>   
  <% end %>
</div>

<br/><br/>
<section class="property-single nav-arrow-b">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="demo" class="carousel slide" data-ride="carousel">
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/slide-1.jpg" alt="Los Angeles" width="1100" height="500">
              <div class="carousel-caption">
                <h3>Los Angeles</h3>
                <p>We had such a great time in LA!</p>
              </div>   
            </div>
            <div class="carousel-item">
              <img src="/slide-2.jpg" alt="Chicago" width="1100" height="500">
              <div class="carousel-caption">
                <h3>Chicago</h3>
                <p>Thank you, Chicago!</p>
              </div>   
            </div>
            <div class="carousel-item">
              <img src="/slide-3.jpg" alt="New York" width="1100" height="500">
              <div class="carousel-caption">
                <h3>New York</h3>
                <p>We love the Big Apple!</p>
              </div>   
            </div>
          </div>
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="title-box-d">
          <br/><h3 class="title-d">Description</h3>
        </div>
        <div class="property-description">
          <p class="description color-text-a">
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit
            neque, auctor sit amet
            aliquam vel, ullamcorper sit amet ligula. Cras ultricies ligula sed magna dictum porta.
            Curabitur aliquet quam id dui posuere blandit. Mauris blandit aliquet elit, eget tincidunt
            nibh pulvinar quam id dui posuere blandit.
          </p>
          <p class="description color-text-a no-margin">
            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec rutrum congue leo eget
            malesuada. Quisque velit nisi,
            pretium ut lacinia in, elementum id enim. Donec sollicitudin molestie malesuada.
          </p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="property-summary">    
          <div class="title-box-d">
            <br/><h3 class="title-d">Quick Summary</h3>
          </div>
          <div class="summary-list">
            <ul class="list">
              <li class="d-flex justify-content-between">
                <strong>Property ID:</strong>
                <span>1134</span>
              </li>
              <li class="d-flex justify-content-between">
                <strong>Location:</strong>
                <span>Chicago, IL 606543</span>
              </li>
              <li class="d-flex justify-content-between">
                <strong>Property Type:</strong>
                <span>House</span>
              </li>
              <li class="d-flex justify-content-between">
                <strong>Status:</strong>
                <span>Sale</span>
              </li>
              <li class="d-flex justify-content-between">
                <strong>Area:</strong>
                <span>340m
                  <sup>2</sup>
                </span>
              </li>
              <li class="d-flex justify-content-between">
                <strong>Beds:</strong>
                <span>4</span>
              </li>
              <li class="d-flex justify-content-between">
                <strong>Baths:</strong>
                <span>2</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>      
    <div class="row">
      <div class="col-md-12">
        <div class="row section-t3">
          <div class="col-sm-12">
            <div class="title-box-d">
              <h3 class="title-d">Amenities</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="amenities-list color-text-a">
        <ul class="list-a no-margin">
          <li>Balcony</li>
          <li>Outdoor Kitchen</li>
          <li>Cable Tv</li>
          <li>Deck</li>
          <li>Tennis Courts</li>
          <li>Internet</li>
          <li>Parking</li>
          <li>Sun Room</li>
          <li>Concrete Flooring</li>
        </ul>
      </div>
    </div>
  </div>
</section>