<!-- <div class="container"> -->
  <div class="col-md-4">
  <% if user_signed_in? && (can? :update, @city) %>
  	<%= link_to 'Edit City', edit_city_path(@city) %>
  <% end %>

  <h3><%=@city.name%> </h3>
  <%if @city.rooms.empty?%>
    <h4>There is no rooms in <%= @city.name %></h4>
  <%else%>
  <table class = "table">
  <thead>
    
  </thead>
  <tbody>
  <% @city.rooms.each do |room| %>
    <% if room.is_authorized == true %>
      
      <tr>
        <td><%= image_tag(room.images, :size => "150x100") %></td>
        <td><%= room.name.capitalize%><br/><i class="fa fa-inr"></i><%= room.price %><br/><%= link_to "View Deal", room_path(room.slug), class: "btn btn-warning" %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>  
</table>
<%end%>
</div>
  <div class="col-md-8"> 
    <title>Google Maps Multiple Markers</title>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyCzbuY_r3-Uj_RIBsxfKP0WqluXS8dTo5o"></script>
    <div id="map" style="height: 650px; width: 850px;">
  </div>
  <script type="text/javascript">
    var locations = [];   
    <% @city.rooms.each do |room|%>
    	locations.push([<%= room.latitude %>,<%= room.longitude %>])
    <%end%>

    
    for (i = 0; i < locations.length; i++) { 
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: new google.maps.LatLng(locations[i][0],locations[i][1]),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });
      }
      var infowindow = new google.maps.InfoWindow();

      var marker, i;

      for (i = 0; i < locations.length; i++) { 
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i][0], locations[i][1]),
          map: map
        });

        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            // infowindow.setContent(locations[i][0]);
            infowindow.open(map, marker);
          }
        })(marker, i));
      }
    </script>
  </div>
<!-- </div> -->
