<%= link_to image_tag('/back.jpeg', :size => "30x30"), cities_path %>  
<% if user_signed_in? %>
	<%if (can? :update, @city)%>
		<b style="float:right;"><%= link_to image_tag('/edit2.png', :size => "30x30"), edit_city_path(@city) %></b>
	<% end %>
	<% if can? :destroy, @city %>
		<b style="float:right;"><%= link_to image_tag('/destroy1.png', :size => "30x30"), @city, method: :delete, data: { confirm: 'Are you sure?' } %></b>
	<% end %>
<% end %>
<br><br>

<%= @city.name %>
<% if @city.rooms.empty? %>
	<p>This city has no rooms</p>
<% else %>
	<% @city.rooms.each do |room|%>
	<% if room.is_authorized == true %>
		<table >
		    <tr ><th></th></tr>
		    <tr >
		        <td><%= image_tag(room.images, :size => "500x300")%></td>
		        <td>
		            <h2><center><u>Name : <i><%= room.name %></u></i></center></h2>
		            <b>Description : </b><br><%= room.description %><br/><br/>
		            <b>Rules : </b><br><%= room.rules %><br/><br/>
		            <b>Price : </b><%= room.price %><br/><br/>
		        </td>
		    </tr>
		    <tr><td><b>Address : </b> <%= room.address%></br></br>
		             <b>City : </b><%= room.city.name %><br/><br/>
		             <b>Latitude : </b><%= room.latitude %><br/><br/>
		             <b>Longitude : </b><%= room.longitude %><br><br>
		             <b>Owner : </b><%= room.user.username.capitalize%><br/><br/>
		             <b>Contact : </b><%= room.user.mobile %><br/></br>
		        </td>
		        <td><b>Amenities : </b>
		            <ol>
		              <% room.amenities.each do |amenity| %>
		                <p><li><b><%= amenity.name %> : </b>   <%= amenity.description%></li><br>
		              <% end %>
		            </ol></p>
		    </tr>
		    <tr>
		    	<td>
		    		<title>Google Maps Multiple Markers</title>
  <script src="http://maps.google.com/maps/api/js?key=AIzaSyCzbuY_r3-Uj_RIBsxfKP0WqluXS8dTo5o"></script>
  <div id="map" style="height: 200px; width: 200px;">
</div>
<script type="text/javascript">
    var locations = [];
   
  <% @city.rooms.each do |room|%>
  	locations.push([<%= room.latitude %>,<%= room.longitude %>])
  <%end%>
  console.log(locations);

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: new google.maps.LatLng(21.146633, 79.088860),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) { 
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][0], locations[i][1]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          // infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  </script>

<%= link_to 'Back', cities_path %>
		    	</td>
		    </tr>
		</table>
	<% end %>
	<% end %>
<% end %>
