<!DOCTYPE html>
<html>
<head>
  <title>RentRoom</title>
  <link rel="icon" type="image/png" href="/myhomemainpage.jpg">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

<!-- Latest compiled and minified JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
 <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css"> -->

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script> -->
<!-- <link href="img/favicon.png" rel="icon"> -->
<!-- <link href="img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <link href="assets/bootstrap.min.css" rel="stylesheet">
  <link href="assets/font-awesome.min.css" rel="stylesheet">
  <link href="assets/animate.min.css" rel="stylesheet">
  <link href="assets/ionicons.min.css" rel="stylesheet">
  <link href="assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/style.css" rel="stylesheet">

  <!-- JS files -->
  <script src="assets/jquery.min.js"></script>
  <script src="assets/jquery-migrate.min.js"></script>
  <script src="assets/popper.min.js"></script>
  <script src="assets/bootstrap.min.js"></script>
  <script src="assets/easing.min.js"></script>
  <script src="assets/owl.carousel.min.js"></script>
  <script src="assets/scrollreveal.min.js"></script>
  <script src="assets/main.js"></script>
</head> 
<!--  <style type="text/css">
    ul.nav li:hover > ul.dropdown-menu{display: block}
   .fixed-bottom {
    position: fixed;
    height: 230px;
    background-color: gray;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom:0px;
    }
    body {
      /*height: 1000px;*/
      margin-bottom: 240px;

    }
  </style> -->
<body>
  <!-- <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: #f4a142; border: 30px; "> 
    <div class="container-fluid">
      <div class="navbar-brand">
        <a href= "/rooms"> <%#= image_tag('/myhomemainpage.jpg', :size => "70x30") %></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a><i class = "glyphicon glyphicon-earphone"></i> <%#= User.find_by(username: "admin").mobile %></a></li>
        <%# if user_signed_in? %> 
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"><%#= current_user.email%></a>
            <ul class="dropdown-menu">
              <li>
                  <%# if user_signed_in? && (can? :create, Room.new)%>
                    <%#= link_to "Rent your Room", new_room_path%>
                  <%# end %>
              </li>
              <li>
                  <%# if user_signed_in? && (can? :create, City.new) %>
                    <%#= link_to 'Add City', new_city_path%>
                  <%# end %>
              </li>
              <li><%#= link_to "Your Bookings", bookings_my_bookings_path %></li>
              <li><%#= link_to "Your Rooms", rooms_my_rooms_path %></li>
              <li>
                <%# if user_signed_in? && current_user.role.name == "host"%> 
                  <%#= link_to "Confirm Bookings", bookings_confirmation_path %>
                <%# end %>
              </li>
              <li>
                <%# if user_signed_in? && current_user.role.name == "admin" %>
                    <li><%#= link_to "Authorize Rooms ", rooms_authorize_path %></li>
                    <li><%#= link_to "Confirm Bookings", bookings_confirmation_path %></li>
                    <li><%#= link_to "Amenities", amenities_path %></li>
                <%# end %>
              </li>
              <li><%#= link_to "Profile", edit_user_registration_path %></li>
              <li><%#= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <%# else %>
          <li ><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
        <%# end %>
      </ul>
    </div>
</nav><br/><br/><br/>
 -->
<!-- <div class="container"> -->
  <%# if notice %>
<!--     <script>
        swal({
            position: 'top-end',
            type: 'success',
            title: '<%#= notice%>',
             //showConfirmButton: true,
             // showCancelButton: true
             timer: 3000
          })
    </script>  
   <%#end%>
  <%# if alert %>
    <script>
        swal({
             position: 'top-end',
             type: 'success',
             title: '<%#= alert %>',
             showConfirmButton: true,
             // showCancelButton: true
             timer: 3000
          })
    </script> -->
  <%# end %>
<!-- </div> -->

  <!--/ Nav Star /-->
  <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <%= image_tag('/myhomemainpage.jpg', :size => "100x60") %>
    <div class="container">
      
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <a class="navbar-brand text-brand" href="/rooms">Estate<span class="color-b">Agency</span></a>
      <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse"
        data-target="#navbarTogglerDemo01" aria-expanded="false">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button>
      <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" href="/rooms">Properties</a>
          </li>
          <li class="nav-item">
            <%= link_to "Home", home_path, class: "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "About", about_path, class: "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", contact_path, class: "nav-link"%>
          </li>
        </ul>
      </div>
    </div>
    <% if user_signed_in? %> 
      <div class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"><b><%= current_user.email.upcase.split('.')[0]%></b></a>
        <ul class="dropdown-menu">
          <li>
            <% if user_signed_in? && (can? :create, Room.new)%>
              <center><%= link_to "Rent your Room", new_room_path%></center>        
            <% end %>
          </li>    
          <li>
            <% if user_signed_in? && (can? :create, City.new) %>
              <center><%= link_to 'Add City', new_city_path%></center>          
            <% end %>
          </li>
          <li><center><%= link_to "Your Bookings", bookings_my_bookings_path %></center></li>
          <li><center><%= link_to "Your Rooms", rooms_my_rooms_path %></center></li>
          <li>
            <% if user_signed_in? && current_user.role.name == "host"%> 
              <center><%= link_to "Confirm Bookings", bookings_confirmation_path %></center>
            <% end %>
          </li>
          <li>
            <% if user_signed_in? && current_user.role.name == "admin" %>
                <center><li><%= link_to "Authorize Rooms ", rooms_authorize_path %></center></li>
                <center><li><%= link_to "Confirm Bookings", bookings_confirmation_path %></center></li>
                <center><li><%= link_to "Amenities", amenities_path %></center></li>
            <% end %>
          </li>
          <li><center><%= link_to "Profile", edit_user_registration_path %></li>
          <li><center><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    <% else %>
      <a href="/users/sign_in">Sign In</a>

    <% end %>
  </nav>  

<div style="padding-top: 150px; min-height: 500px">
  <%= yield %>
</div>
  <!--/ footer Star /-->
  <br/><br/><br/>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright-footer">
            <p class="copyright color-text-a">
              &copy; Copyright
              <span class="color-a">EstateAgency</span> All Rights Reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>