<!DOCTYPE html>
<html>
<head>
  <title>RentRoom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


</head> 

<body>
<!-- <div class = "container"> -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: #f4a142; border: 30px; "> 
  <!-- style="background-color: #f4a142; color: #000000"> -->
    <div class="container-fluid">
      <div class="navbar-brand">
        <a href= "/rooms"> <%= image_tag('/myhomemainpage.jpg', :size => "70x45") %></a>
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Select City<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% City.all.each do |city| %>
              <li><%= link_to city.name,city%></li>
            <%end%>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a><i class = "glyphicon glyphicon-earphone"></i> <%= User.find_by(username: "admin").mobile %></a></li>
        <% if user_signed_in? %> 
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"><%= image_tag('/profile.png', :size => "50x35") %></a>
            <ul class="dropdown-menu">
              <li>
                  <% if user_signed_in? && (can? :create, Room.new)%>
                    <%= link_to "Rent your Room", new_room_path%>
                  <% end %>
              </li>
              <li>
                  <% if user_signed_in? && (can? :create, City.new) %>
                    <%= link_to 'Add City', new_city_path%>
                  <% end %>
              </li>
              <li><%= link_to "Your Bookings", bookings_my_bookings_path %></li>
              <li><%= link_to "Your Rooms", rooms_my_rooms_path %></li>
              <li>
                <% if user_signed_in? && current_user.role.name == "host"%> 
                  <%= link_to "Confirm Bookings", bookings_confirmation_path %>
                <% end %>
              </li>
              <li>
                <% if user_signed_in? && current_user.role.name == "admin" %>
                    <li><%= link_to "Authorize Rooms ", rooms_authorize_path %></li>
                    <li><%= link_to "Confirm Bookings", bookings_confirmation_path %></li>
                    <li><%= link_to "Amenities", amenities_path %></li>
                <% end %>
              </li>
              <li><%= link_to "Profile", edit_user_registration_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li ><a href="/users/sign_in">Sign In<span class="glyphicon glyphicon-log-in"></span></a></li>
          <li><a href="/users/sign_up">Sign Up<span class="glyphicon glyphicon-log-in"></span></a></li>
        <% end %>
      </ul>
  </div>
</nav>
<%# if notice %>
  <!-- <div class = "alert alert-success"> -->
      <!-- <script>
      swal({
          position: 'top-end',
          type: 'success',
          title: '<%= notice%>',
           //showConfirmButton: true,
           // showCancelButton: true
           timer: 5000
        })
      </script> -->  
    <%#= notice%>
  <!-- </div> -->
<%#end%>
<%# if alert %>
  <!-- <div class = "alert alert-warning"> -->
  <!-- <script>
      swal({
           position: 'top-end',
           type: 'success',
           title: '<%= alert %>',
           //showConfirmButton: true,
           // showCancelButton: true
           timer: 5000
        })
    </script> -->
    <%#= alert%>
  <!-- </div> -->
<%# end %>

<div class="container">
<br/><br/><br/><br/><br/>
  
<%if notice%>
  <div style="margin-top: -10px; margin-left: 900px;" class="col-md-4 alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong><%= notice %></strong>
  </div>
<%end%>
<%if alert%>
  <div style="margin-top: -10px; margin-left: 900px;" class="col-md-4 alert alert-warning alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong><%= alert %></strong>
  </div>
<%end%>
  <%= yield %>
</div>

<hr>
<footer class="container-fluid text-center" style="background-color:#808080; face: Serif ; color: #000000; ">
<br/><p style="font-size: 25px">CONTACT</p>
<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-5">
      <p style="font-size: 20px">Contact us and we'll get back to you within 24 hours.</p><br/><br/>
      <p><span class="glyphicon glyphicon-map-marker"></span> Jayanagar, Banglore, Karnataka</p>
      <p><span class="glyphicon glyphicon-phone"></span>+91 <%= User.find_by(role_id: 1).mobile%></p>
      <p><span class="glyphicon glyphicon-envelope"></span> <%= User.find_by(role_id: 1).email%></p>
    </div>
    <div class="col-sm-7">
        <p style="font-size: 20px">Send Enquiry</p>
      <div class="row">
        <%= render '/enquiries/en_form' %>    
      </div>
    </div>
  </div>
</div>
</body>
</html>

<hr>
</footer>
</body>
</html>