<!DOCTYPE html>
<html>
<head>
  <title>RentRoom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head> 
<body style="font-family: Times New Roman, Times, serif; font-size: 16px; font-color: red; ">
<!-- <div class = "container"> -->
  <nav class="navbar navbar-inverse"style="color: #9fb4ff">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href= "/rooms"> <%= image_tag('/myhomemainpage.jpg', :size => "80x50") %></a>
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Select City<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% City.all.each do |city| %>
              <li><%= link_to city.name,city%></li>
            <%end%>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
       <li><a><i class = "glyphicon glyphicon-earphone"></i> <%= User.find_by(username: "admin").mobile %></a></li>
        <% if user_signed_in? %> 
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Hi <%=(current_user.username).capitalize%>! ( <%= current_user.role.name%> )<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                  <% if user_signed_in? && (can? :create, Room.new)%>
                    <%= link_to "Rent your Room", new_room_path%>
                  <% end %>
              </li>
              <li>
                  <% if user_signed_in? && (can? :create, City.new) %>
                    <%= link_to 'Add City', new_city_path%>
                  <% end %>
              </li>
              <li><%= link_to "Your Bookings", bookings_my_bookings_path %></li>
              <li><%= link_to "Your Rooms", rooms_my_rooms_path %></li>
              <li>
                <% if user_signed_in? && current_user.role.name == "host"%> 
                  <%= link_to "Confirm Bookings", bookings_confirmation_path %>
                <% end %>
              </li>
              <li>
                <% if user_signed_in? && current_user.role.name == "admin" %>
                    <li><%= link_to "Authorize Rooms ", rooms_authorize_path %></li>
                    <li><%= link_to "Confirm Bookings", bookings_confirmation_path %></li>
                    <li><%= link_to "Amenities", amenities_path %></li>
                <% end %>
              </li>
              <li><%= link_to "Profile", edit_user_registration_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li ><a href="/users/sign_in">Sign In<span class="glyphicon glyphicon-log-in"></span></a></li>
          <li><a href="/users/sign_up">Sign Up<span class="glyphicon glyphicon-log-in"></span></a></li>
        <% end %>
      </ul>
  </div>
</nav>
<% if notice %>
  <div class = "alert alert-success">
    <%= notice%>
  </div>
<%end%>
<% if alert %>
  <div class = "alert alert-warning">
    <%= alert %>
  </div>
<% end %>
<!-- </div> -->

<!-- <marquee direction = "right" width="50%" style="color:red">Every Day Room Booking is Available</marquee ><marquee style="color:green" direction = "left"  width="50%">PleaseRegister to Book the Room</marquee > -->


<%= yield %>
</body>
</html>