<!DOCTYPE html>
<html>
<head>
  <title>RentRoom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<style>
.btn {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

.success {background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
} /* Green */
.success:hover {background-color: #4CAF50;
    color: white;}

.info {background-color: white; 
    color: black; 
    border: 2px solid #008CBA;} /* Blue */
.info:hover {background-color: #008CBA;
    color: white;
}

.warning {background-color: white; 
    color: black; 
    border: 2px solid #f44336;

} /* Orange */
.warning:hover {background-color: #e7e7e7;}

/*.danger {background-color: #f44336;}  Red  
.danger:hover {background: #da190b;}
*/
.default {background-color: white;
    color: black;
    border: 2px solid #555555;
float: right} /* Gray */ 
.default:hover {background-color: #555555;
    color: white;
}

.welcome {background-color: block;
    color: black;
    border: 2px solid #443322; float: right}
.wecome:hover {background-color: #111111;
    color: white;}

.old {background-color: white;
    color: black;
    border: 2px solid #ffccaa; float: right}
.old:hover {background-color: #a4ec5f;}

.new {background-color: white;
    color: black;
    border: 2px solid #2233aa; float: right}
.new:hover {background-color: #aa44ff;}

.middle {background-color: white;
    color: black;
    border: 2px solid #ddffaa;float: right}
.middle:hover {background-color: #008CBA;}

.authorize {background-color: white;
    color: black;
    border: 2px solid #ddffaa;float: right}
.authorize:hover {background-color: #008CBA;}

.my_rooms {background-color: white;
    color: black;
    border: 2px solid #ddffaa;}
.my_rooms:hover {background-color: #008CBA;}


</style>
</head>
<body>
<button class="btn success"><%= link_to "Rooms", rooms_path%></button>
<button class="btn info"><%= link_to "Cities", cities_path %></button>
<button class="btn warning"><%= link_to "Amenities", amenities_path %></button>
<%#= link_to "Amenities_Rooms", amenity_rooms_path %>  <%#= link_to "Roles", roles_path %>

<% if user_signed_in? && current_user.role.name == "host"%>
<button class="btn authorize"><%= link_to "Unconfirmed bookings", bookings_confirmation_path %></button>
<% end %>

<% if user_signed_in? && current_user.role.name == "admin" %>
  <button class="btn authorize"><%= link_to "Unauthorized rooms", rooms_authorize_path %></button>
<% end %>
<% if user_signed_in? %> 
	<button class="btn welcome">Welcome : <%= current_user.username %>(<%= current_user.role.name %>)</button>
	<button class="btn default"><%= link_to "Account Setting", edit_user_registration_path %></button>
	<button class="btn old"><%= link_to "Logout", destroy_user_session_path, method: :delete %></button>
  <button class="btn my_rooms"><%= link_to "My Rooms", rooms_my_rooms_path %></button>
<% else %>
  <button class="btn new"><%= link_to "Login", new_user_session_path %></button>
  <button class="btn middle", ><%= link_to "Register", new_user_registration_path %></button>
<% end %>
<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
