<!DOCTYPE html>
<html>
<head>
  <title>RentRoom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: DodgerBlue;
    font-family: "Times New Roman";
    font-size: 15px;
     font-color:red;
}

li {
    float: left;

}

li a, .dropbtn {
    display: inline-block;
    color: ;
    text-align: center;
    padding: 6px 8px;
    text-decoration: none;

}

li a:hover, .dropdown:hover .dropbtn {
    background-color: Orange;

}

li.dropdown {
    display: inline-block;
    font-color:red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.8);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 2px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: Gray;}

.dropdown:hover .dropdown-content {
    display: block;
}
body {
    background-image: url('/myhomemainpage.jpeg');
    background-repeat: no-repeat;
    background-position: right top;

}
</style>
</head> 
<body>

<ul>
  <li><%= image_tag('/myhomemainpage.jpg', :size => "80x40") %></li>
  <li><%= link_to "CITIES", cities_path %></li>

  <% if user_signed_in? && current_user.role.name == "host"%> 
  <li><%= link_to "AUTHORIZE", bookings_confirmation_path %></li>
  <% end %>

  <% if user_signed_in? && current_user.role.name == "admin" %>
  <li class="dropdown">

  <li><%= link_to "AUTHORIZE ROOMS", rooms_authorize_path %></li>
  <li><%= link_to "AUTHORIZE BOOKINGS", bookings_confirmation_path %></li>
  <li><%= link_to "AMENITIES", amenities_path %></li>
  <% end %>

<% if user_signed_in? %> 
  <li class="dropdown", style = "float:right">
      <a href="javascript:void(0)" class="dropbtn">Hi <%=(current_user.username).capitalize%>!</a>
           <div class="dropdown-content">
              <a><%= link_to "Rooms", rooms_my_rooms_path %></a>
              <a><%= link_to "Bookings", bookings_my_bookings_path %></a>
              <a><%= link_to "Profile", edit_user_registration_path %></a>        
              <a><%= link_to "Logout", destroy_user_session_path, method: :delete %></a>
          </div>
  </li>
  <% else %>
  <li style = "float:right;"><%= link_to image_tag('/login1.jpeg', :size => "80x30"), new_user_session_path %></li>
  <li style = "float:right;"><%= link_to image_tag('/register.jpeg', :size => "80x30"), new_user_registration_path %></li>
<% end %>
</ul>
<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
